<div class="container">
  <div class="row">
    <div class="container-fluid">
      <mat-card class="example-card">
        <mat-card-content>
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/male.jpg" alt="male.jpg" style="width:100%">
            </div>
            <div class="col-10" style="margin: auto;">
              <p class="heading">
                Welcome Back!
              </p>
              <p class="message">You are in an institution established to serve the community in Kalahandi, Odisha</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col-lg-3 col-sm-12" style="margin: 1rem 0">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Employee</p>
              <a routerLink="/employee/details">{{totalEmployee}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-12" style="margin: 1rem 0">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Role</p>
              <a routerLink="/role/details">{{totalRole}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-12" style="margin: 1rem 0">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Department</p>
              <a routerLink="/department/details">{{totalDepartment}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-12" style="margin: 1rem 0">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Notice</p>
              <a routerLink="/notice/details">{{totalNotice}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-sm-3">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header style="text-align: center;">
            Department Heads
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              To do.........
            </div>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-7 mb-3">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header style="text-align: center;">
            Staff Notice
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-12" *ngFor="let notice of noticeList">
                <a routerLink="/notice/details">{{notice.noticeTitle}}</a>
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
