<div class="dashboard">
  <div class="row">
    <div class="container-fluid">
      <mat-card class="example-card">
        <mat-card-content>
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/male.jpg" alt="male.jpg" style="width:10rem">
            </div>
            <div class="col-10" style="margin: auto;">
              <p class="heading">
                Welcome Back!
              </p>
              <p class="name">Sanket Panda</p>
              <p class="message">You are in an institution established to serve the community in Kalahandi, Odisha</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem">
    <div class="col-3">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Employee</p>
              <a routerLink="/employee/details">{{totalEmployee}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Role</p>
              <a routerLink="/role/details">{{totalRole}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Total Department</p>
              <a routerLink="/department/details">{{totalDepartment}}</a>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="info-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <p class="title">Pending Leave</p>
              <p>10</p>
            </div>
            <div class="col-4" style="margin: auto; border-left: 0.1rem solid;">
              <mat-icon> contacts</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header style="text-align: center;">
            Department Heads
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-2">
                <img src="../../../assets/images/profile.png" alt="profile image" style="width:3rem">
              </div>
              <div class="col-6">
                <p class="title">Sanket Panda</p>
                <p>sanket@gmail.com</p>
              </div>
              <div class="col-4">
                <p>9078779319</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-7">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header style="text-align: center;">
            Staff Notice
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-2">
                <img src="../../../assets/images/profile.png" alt="profile image" style="width:3rem">
              </div>
              <div class="col-6">
                <p class="title">Sanket Panda</p>
                <p>sanket@gmail.com</p>
              </div>
              <div class="col-4">
                <p>9078779319</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
