<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="p-3 mt-5 bg-dark text-white">
        <h4>All Roles</h4>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="table-container mt-5">
        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let role of roles">
            <td>{{role.roleName}}</td>
            <td>{{role.description}}</td>
            <td><a  *ngIf="role.roleName != 'EMPLOYEE'" class="btn" (click)="editRole(role)"><mat-icon [ngStyle]="{'color': 'green'}">edit</mat-icon></a></td>
            <td><a   *ngIf="role.roleName != 'EMPLOYEE'" class="btn" (click)="deleteRole(role)"><mat-icon [ngStyle]="{'color': 'red'}">delete_forever</mat-icon></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

