<div mat-dialog-content>
  <p>Are you sure you want to delete?</p>
  <div>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>{{data.childContent[0]}}</th>
      </tr>
      <tr *ngFor="let employee of data.childContent">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
      </tr>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger" (click)="delete()">Delete</button>
  <button class="btn btn-warning" (click)="close()">Cancel</button>
</div>
